a {
    text-decoration: none;
}

h3 {
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.fluid-container {
    width:100%;
    background-color: gainsboro;
}

.container {
    text-decoration: none;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0px;
}

.white {
    background-color: white;
}

/*----- Nav----*/

.studio {
    width: 100px;
    height: 50px;
    background-color: black;
    margin-left: 15px;
    float:left;
    
}

.nav, .nav li {
    list-style-type: none;
    float: right;
    margin-right: 15px;
    line-height: 25px;
    font-family: sans-serif;
    
    }

.nav li a {
    line-height: 50px;
    color: black;
}

/*----- Big Yellow Box----*/

.yellowbox {
    width: 43%;
    height: 500px;
    background-color: yellow;
    padding: 30px;
    float: left;
}


/*----- Right of Yellow Box ----*/

.yellowbox2 {
    width: 43%;
    height: 500px;
    background-color: yellow;
    padding: 30px;
    float: right;
}

.icon1 {
    width:100px;
    height:100px;
    border: 1px black solid;
    background-color: yellow;
    margin-bottom: 20px;
    
}