
a {
    text-decoration: none;
}

h3 {
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.fluid-container {
    width:100%;
    background-color: white;
}

.container {
    text-decoration: none;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0px;
}

.white {
    background-color: white;
}

.left {
    float: left;
}

.right {
    float: right;
}

.leftrightmargin {
    margin-left:70px;
    margin-right: 70px;
}

.topmargin {
    margin-top:70px;
}

/*----- Nav----*/

.studio {
    width: 100px;
    height: 50px;
    background-color: black;
    margin-left: 15px;
    float:left;   
}

.nav {
    float: right;
    
}

.nav li {
    list-style-type: none;
    float: right;
    margin-right: 15px;
    line-height: 25px;
    font-family: sans-serif;
    
    }

.nav li a {
    line-height: 50px;
    color: black;
}

.mglass {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: gainsboro;
    float: right !important;
    margin-right: 15px;   
}

.menu {
    height: 40px;
    width: 40px;
    background-color: gainsboro;
    float: right !important;
    margin-right: 15px;
    
}

/*----- Big Yellow Box----*/

.yellowbox {
    width: 49%;
    height: 500px;
    background-color: yellow;
    float: left;
}

.icon1 {
    width:70px;
    height:70px;
    border: 1px black solid;
    background-color: yellow;
    margin: 70px 0px 40px 70px;  
}

.icon2 {
    width:80px;
    height:25px;
    border: 1px black solid;
    background-color: yellow;
    margin: 40px 0px 70px 70px; 
}

/*----- Right/Left of Yellow Box ----*/

.imagebox1 {
    width: 49%;
    float: right;
}

.imagebox2 {
    width: 49%;
    float: left;
}

.toprow1 {
    background-color: black;
    width:49%;
    height:245px;
    float: left;
}

.toprow2 {
    background-color: black;
    width:49%;
    height:245px;
    float: right;
}


.bottomrow1 {
    background-color: black;
    width:49%;
    height:245px;
    float: left;
    margin-top: 10px;
}

.bottomrow2 {
    background-color: black;
    width:49%;
    height:245px;
    float: right;
    margin-top: 10px;
}


/*----- Big Grey Box ----*/

.greybox {
    width: 49%;
    height: 500px;
    background-color: gainsboro;
    float: right;
}

.icon11 {
    width:70px;
    height:70px;
    border: 1px black solid;
    background-color: gainsboro;
    margin: 70px 0px 40px 70px;  
}

.icon22 {
    width:80px;
    height:25px;
    border: 1px black solid;
    background-color: gainsboro;
    margin: 40px 0px 70px 70px; 
}

/*----- Big Grey Box ----*/

.studio2 {
    width: 75px;
    height: 30px;
    background-color: black;
    float:left;   
}

.smicon1 {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: gainsboro;
    float: right;   
}

.smicon2 {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: gainsboro;
    float: right;
    margin-right: 15px;   
}

.buycontact {
    float: right;
    
}

.buycontact li {
    list-style-type: none;
    float: right;
    margin-right: 15px;
    line-height: 25px;
    font-family: sans-serif;
    
    }

.buycontact li a {
    line-height: 50px;
    color: black;
}

